{% extends "base.html" %}

{% block title %} &bull; Erfolg{% endblock title %}

{% block body_class %}contact{% endblock %}

{% block content %}
  <div class="container">

    <p>Hier sind die bisherigen Erfolge von Stefan Begerad während seiner Aktivität als Einzelunternehmer aufgelistet.</p>


    <h2>
      <strong>Dede Echtzeit-Karte:</strong>
      Offen, Universell und Unabhängig
    </h2>

    <p>Bisher war es nur Verkehrsunternehmen oder -verbünden mit echtzeitfähigen Bussen vernetzt mit einer complexen Leitstelle vergönnt, Ihren Fahrgästen die Echtzeit-Position Ihrer Fahrzeugflotte auf eine Karte zu präsentieren. <b>Warum?</b> In der Regel wird das Leitstellensystem, verantwortlich für die Disposition der Fahrzeugflotte entsprechend des Fahrplans (Soll-Daten), um ein Modul erweitert, welches Echtzeit-Funktionalität (Ist-Daten) zum Bestandsystem ergänzt. Seit <a href="https://dedriver.org" target="_blank" rel="noopener noreferrer">Dede</a> ist Schluss damit!</p>

    <p><img alt="Dede Echtzeit-Karte" src="/static/img/dede-1280x617.jpg" style="width:100%;height:auto;"/></p>

    <p><a href="https://dedriver.org" target="_blank" rel="noopener noreferrer">Dede</a> ist ein offenes Gemeinschaftsprojekt (Open Source Community) basierend auf freier Software (wie in Redefreiheit und <b>NICHT</b> wie in Freibier ;-)), bei dem Stefan Begerad Hauptentwickler und Betreiber ist. Dede ist universell einsetzbar nicht nur bei Verkehrsunternehmen sondern auch bei jedem anderen Mobilitätsanbieter, Fuhr- oder Transportunternehmen. Als Systemlösung inklusive Fahrzeugkomponente (Dede App) und Verteiler (Dede-Server) ist Dede unabhängig davon, ob ein Kunde ein Bestandsystem besitzt oder nicht. Bei Interesse an der Dede Echtzeit-Karte, bitte zögern sie nicht <a href="mailto:dialog@begerad.de">Stefan Begerad</a> zu kontaktieren.</p>

  </div>
{% endblock %}
