{% extends "base.html" %}

{% block title %} &bull; Kontakt{% endblock title %}

{% block body_class %}contact{% endblock %}

{% block content %}
  <div class="container">

    <h2>Über diese Website</h2>

    <p>Bitte richten sie Fragen zu dieser Webseite an <a href="mailto:dialog@begerad.de">Stefan Begerad</a>.</p>
    </p>

    <h2>Impressum</h2>

    <address>
    <strong>Stefan Begerad</strong><br />
    9259 Hobnail Court<br />
    Columbia, Maryland 21045<br />
    USA<br />
    </address>

  </div>
{% endblock %}
