{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 home-bio">

        <p>Das ist die Webseite von {{ author }}. Als Einzelunternehmer bietet er Ihnen Beratung, Entwicklung und Dienste für freie Software (wie in Redefreiheit und NICHT wie in Freibier;-)).</p>

	<h2>Curriculum Vitae</h2>

	<p>Hier erscheint demnächst der Lebenslauf von Stefan Begerad.</p>

	<h2>Persönliches</h2>

	<p>Hier erscheinen demnächst Informationen zur Person.</p>

      </div>
    </div>
  </div>
{% endblock %}
